/**
 * Archivo CSS para equipos
 * 
 * @package 	appFLISoL
 * @author		Cristian Gómez Alvarez <cristianpark@gmail.com>
 * @date		Mayo 17 de 2014
 *
**/

.bandera {
	display:inline-block;
	vertical-align:middle;
	width:19px;
	height:13px;
	overflow:hidden;
	background:transparent url('../img/equipos.png') no-repeat scroll;
	border: 1px solid #CCC;
}

.bandera_sud {background-position:-0px -208px;}
.bandera_afg {background-position:-19px -0px;}
.bandera_aia {background-position:-38px -0px;}
.bandera_alb {background-position:-57px -0px;}
.bandera_arl {background-position:-76px -0px;}
.bandera_and {background-position:-95px -0px;}
.bandera_ang {background-position:-114px -0px;}
.bandera_arg {background-position:-133px -0px;}
.bandera_arm {background-position:-152px -0px;}
.bandera_aru {background-position:-171px -0px;}
.bandera_asa {background-position:-0px -13px;}
.bandera_atg {background-position:-19px -13px;}
.bandera_aus {background-position:-38px -13px;}
.bandera_aut {background-position:-57px -13px;}
.bandera_aze {background-position:-76px -13px;}
.bandera_bah {background-position:-95px -13px;}
.bandera_ban {background-position:-114px -13px;}
.bandera_bdi {background-position:-133px -13px;}
.bandera_bel {background-position:-152px -13px;}
.bandera_ben {background-position:-171px -13px;}
.bandera_ber {background-position:-0px -26px;}
.bandera_bfa {background-position:-19px -26px;}
.bandera_bhr {background-position:-38px -26px;}
.bandera_bhu {background-position:-57px -26px;}
.bandera_bsh {background-position:-76px -26px;}
.bandera_blr {background-position:-95px -26px;}
.bandera_blz {background-position:-114px -26px;}
.bandera_bol {background-position:-133px -26px;}
.bandera_bot {background-position:-152px -26px;}
.bandera_bra {background-position:-171px -26px;}
.bandera_brb {background-position:-0px -39px;}
.bandera_bru {background-position:-19px -39px;}
.bandera_bul {background-position:-38px -39px;}
.bandera_cam {background-position:-57px -39px;}
.bandera_can {background-position:-76px -39px;}
.bandera_cay {background-position:-95px -39px;}
.bandera_cgo {background-position:-114px -39px;}
.bandera_cha {background-position:-133px -39px;}
.bandera_chi {background-position:-152px -39px;}
.bandera_chn {background-position:-171px -39px;}
.bandera_csm {background-position:-0px -52px;}
.bandera_cmr {background-position:-19px -52px;}
.bandera_cod {background-position:-38px -52px;}
.bandera_cok {background-position:-57px -52px;}
.bandera_col {background-position:-76px -52px;}
.bandera_com {background-position:-95px -52px;}
.bandera_cpv {background-position:-114px -52px;}
.bandera_csr {background-position:-133px -52px;}
.bandera_cro {background-position:-152px -52px;}
.bandera_cta {background-position:-171px -52px;}
.bandera_cub {background-position:-0px -65px;}
.bandera_cuw {background-position:-19px -65px;}
.bandera_cyp {background-position:-38px -65px;}
.bandera_cze {background-position:-57px -65px;}
.bandera_den {background-position:-76px -65px;}
.bandera_dji {background-position:-95px -65px;}
.bandera_dma {background-position:-114px -65px;}
.bandera_dom {background-position:-133px -65px;}
.bandera_ecu {background-position:-152px -65px;}
.bandera_egy {background-position:-171px -65px;}
.bandera_ing {background-position:-0px -78px;}
.bandera_eqg {background-position:-19px -78px;}
.bandera_eri {background-position:-38px -78px;}
.bandera_esp {background-position:-57px -78px;}
.bandera_est {background-position:-76px -78px;}
.bandera_eth {background-position:-95px -78px;}
.bandera_fij {background-position:-114px -78px;}
.bandera_fin {background-position:-133px -78px;}
.bandera_fra {background-position:-152px -78px;}
.bandera_fro {background-position:-171px -78px;}
.bandera_gab {background-position:-0px -91px;}
.bandera_gam {background-position:-19px -91px;}
.bandera_geo {background-position:-38px -91px;}
.bandera_ale {background-position:-57px -91px;}
.bandera_gha {background-position:-76px -91px;}
.bandera_gnb {background-position:-95px -91px;}
.bandera_gre {background-position:-114px -91px;}
.bandera_grn {background-position:-133px -91px;}
.bandera_gua {background-position:-152px -91px;}
.bandera_gui {background-position:-171px -91px;}
.bandera_gum {background-position:-0px -104px;}
.bandera_guy {background-position:-19px -104px;}
.bandera_hai {background-position:-38px -104px;}
.bandera_hkg {background-position:-57px -104px;}
.bandera_hon {background-position:-76px -104px;}
.bandera_hun {background-position:-95px -104px;}
.bandera_idn {background-position:-114px -104px;}
.bandera_ind {background-position:-133px -104px;}
.bandera_irl {background-position:-152px -104px;}
.bandera_ira {background-position:-171px -104px;}
.bandera_irq {background-position:-0px -117px;}
.bandera_isl {background-position:-19px -117px;}
.bandera_isr {background-position:-38px -117px;}
.bandera_ita {background-position:-57px -117px;}
.bandera_jam {background-position:-76px -117px;}
.bandera_jor {background-position:-95px -117px;}
.bandera_jap {background-position:-114px -117px;}
.bandera_kaz {background-position:-133px -117px;}
.bandera_ken {background-position:-152px -117px;}
.bandera_kgz {background-position:-171px -117px;}
.bandera_rpc {background-position:-0px -130px;}
.bandera_ksa {background-position:-19px -130px;}
.bandera_kuw {background-position:-38px -130px;}
.bandera_lao {background-position:-57px -130px;}
.bandera_lbr {background-position:-76px -130px;}
.bandera_lby {background-position:-95px -130px;}
.bandera_lca {background-position:-114px -130px;}
.bandera_les {background-position:-133px -130px;}
.bandera_lib {background-position:-152px -130px;}
.bandera_lie {background-position:-171px -130px;}
.bandera_ltu {background-position:-0px -143px;}
.bandera_lux {background-position:-19px -143px;}
.bandera_lva {background-position:-38px -143px;}
.bandera_mac {background-position:-57px -143px;}
.bandera_mad {background-position:-76px -143px;}
.bandera_mar {background-position:-95px -143px;}
.bandera_mas {background-position:-114px -143px;}
.bandera_mda {background-position:-133px -143px;}
.bandera_mdv {background-position:-152px -143px;}
.bandera_mex {background-position:-171px -143px;}
.bandera_mkd {background-position:-0px -156px;}
.bandera_mli {background-position:-19px -156px;}
.bandera_mlt {background-position:-38px -156px;}
.bandera_mne {background-position:-57px -156px;}
.bandera_mng {background-position:-76px -156px;}
.bandera_moz {background-position:-95px -156px;}
.bandera_mri {background-position:-114px -156px;}
.bandera_msr {background-position:-133px -156px;}
.bandera_mtn {background-position:-152px -156px;}
.bandera_mwi {background-position:-171px -156px;}
.bandera_mya {background-position:-0px -169px;}
.bandera_nam {background-position:-19px -169px;}
.bandera_nca {background-position:-38px -169px;}
.bandera_ncl {background-position:-57px -169px;}
.bandera_hol {background-position:-76px -169px;}
.bandera_nep {background-position:-95px -169px;}
.bandera_nga {background-position:-114px -169px;}
.bandera_nig {background-position:-133px -169px;}
.bandera_nir {background-position:-152px -169px;}
.bandera_nor {background-position:-171px -169px;}
.bandera_nzl {background-position:-0px -182px;}
.bandera_oma {background-position:-19px -182px;}
.bandera_pak {background-position:-38px -182px;}
.bandera_pan {background-position:-57px -182px;}
.bandera_par {background-position:-76px -182px;}
.bandera_per {background-position:-95px -182px;}
.bandera_phi {background-position:-114px -182px;}
.bandera_ple {background-position:-133px -182px;}
.bandera_png {background-position:-152px -182px;}
.bandera_pol {background-position:-171px -182px;}
.bandera_por {background-position:-0px -195px;}
.bandera_prk {background-position:-19px -195px;}
.bandera_pur {background-position:-38px -195px;}
.bandera_qat {background-position:-57px -195px;}
.bandera_rou {background-position:-76px -195px;}
.bandera_rsa {background-position:-95px -195px;}
.bandera_rus {background-position:-114px -195px;}
.bandera_rwa {background-position:-133px -195px;}
.bandera_sam {background-position:-152px -195px;}
.bandera_sco {background-position:-171px -195px;}
.bandera_sdn {background-position:-0px -208px;}
.bandera_sen {background-position:-19px -208px;}
.bandera_sey {background-position:-38px -208px;}
.bandera_sin {background-position:-57px -208px;}
.bandera_skn {background-position:-76px -208px;}
.bandera_sle {background-position:-95px -208px;}
.bandera_slv {background-position:-114px -208px;}
.bandera_smr {background-position:-133px -208px;}
.bandera_sol {background-position:-152px -208px;}
.bandera_som {background-position:-171px -208px;}
.bandera_srb {background-position:-0px -221px;}
.bandera_sri {background-position:-19px -221px;}
.bandera_ssd {background-position:-38px -221px;}
.bandera_stp {background-position:-57px -221px;}
.bandera_sui {background-position:-76px -221px;}
.bandera_sur {background-position:-95px -221px;}
.bandera_svk {background-position:-114px -221px;}
.bandera_svn {background-position:-133px -221px;}
.bandera_swe {background-position:-152px -221px;}
.bandera_swz {background-position:-171px -221px;}
.bandera_syr {background-position:-0px -234px;}
.bandera_tah {background-position:-19px -234px;}
.bandera_tan {background-position:-38px -234px;}
.bandera_tca {background-position:-57px -234px;}
.bandera_tga {background-position:-76px -234px;}
.bandera_tha {background-position:-95px -234px;}
.bandera_tjk {background-position:-114px -234px;}
.bandera_tkm {background-position:-133px -234px;}
.bandera_tls {background-position:-152px -234px;}
.bandera_tog {background-position:-171px -234px;}
.bandera_tpe {background-position:-0px -247px;}
.bandera_tri {background-position:-19px -247px;}
.bandera_tun {background-position:-38px -247px;}
.bandera_tur {background-position:-57px -247px;}
.bandera_uae {background-position:-76px -247px;}
.bandera_uga {background-position:-95px -247px;}
.bandera_ukr {background-position:-114px -247px;}
.bandera_uru {background-position:-133px -247px;}
.bandera_usa {background-position:-152px -247px;}
.bandera_uzb {background-position:-171px -247px;}
.bandera_van {background-position:-0px -260px;}
.bandera_ven {background-position:-19px -260px;}
.bandera_vgb {background-position:-38px -260px;}
.bandera_vie {background-position:-57px -260px;}
.bandera_vin {background-position:-76px -260px;}
.bandera_vir {background-position:-95px -260px;}
.bandera_wal {background-position:-114px -260px;}
.bandera_yem {background-position:-133px -260px;}
.bandera_zam {background-position:-152px -260px;}
.bandera_zim {background-position:-171px -260px;}
